@model PruebaP5.Models.Pago
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Create</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <label asp-for="CondIva" class="control-label">Condicion de Iva</label>
                @* seleccion de item, asp-for="condIva" no tengo pruebas y tampoco dudas que es loq eu tomara  el valor para madnarlo en el selector*@
                <select asp-for="CondIva" id="card" class="form-control">
                    <option value="Monotributistas">Monotributistas</option>
                    <option value="Responsable Inscripto">Responsable Inscripto</option>
                    <option  value="Exento">Exento</option>
                  </select>
               @*<input asp-for="CondIva" class="form-control" />*@ 
                <span asp-validation-for="CondIva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuit" class="control-label"></label>
                <input asp-for="Cuit" class="form-control" />
                <span asp-validation-for="Cuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazonSocial" class="control-label"></label>
                <input asp-for="RazonSocial" class="form-control" />
                <span asp-validation-for="RazonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domicilio" class="control-label"></label>
                <input asp-for="Domicilio" class="form-control" />
                <span asp-validation-for="Domicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="CondVenta" class="control-label">Condicion de venta</label>
                <br />
                <ol>
                <label asp-for="CondVenta" class="control-label">Contado</label>
                @*input para que tome el valor le ponesmos que es un type="checkbox" para clickear y el valor que tomara cuando sea cliqueado
                    todo debe tener  asp-for="atributo del modelo" para que sepa que ese atributo tome el valor asignado*@
                <input asp-for="CondVenta"  type="checkbox" value="Contado" >
                <br />
                <label asp-for="CondVenta" class="control-label">Cheques</label>
                <input asp-for="CondVenta"  type="checkbox" value="Cheques" >
                <br />
                <label asp-for="CondVenta" class="control-label">Ticket</label>
                <input asp-for="CondVenta"  type="checkbox" value="Ticket" >
                <br />
                <label asp-for="CondVenta" class="control-label">Otros</label>

                <input asp-for="CondVenta"  type="checkbox" value="Otros" >


                </ol>
               @*<input asp-for="CondVenta" class="form-control" />*@ 
                <span asp-validation-for="CondVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
