@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Equipo</h1>
    <p>Nisio, Atila Ezequiel</p>
    <p>Cofreces Giraldes, Guadalupe</p>
    <p>Garcia, Elian Alexis</p>

</div>
